.section {
  padding-bottom: 107px;
}

.sectionContainer {
  margin: 0 auto;
  padding: 0 35px;
}

.title {
  padding: 120px 0px 80px;
  margin: 0;
  max-width: 775px;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.cardsContainer {
  padding: 0 0px;
  margin: 0;
  display: grid;
  gap: 107px 20px;
}

.telegramBtn {
  padding-bottom: 80px;
}

@media (max-width: 800px) {
  .sectionContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 800px) {
  .cardsContainer {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .cardsContainer {
    grid-template-columns: 1fr;
    gap: 50px 0;
  }
  .title {
    padding: 0 15px 15px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (max-width: 420px) {
  .sectionContainer {
    padding-left: 15px;
    padding-right: 15px;
  }
}