.section {
  padding-bottom: 107px;
}


.sectionContainer {
  margin: 0 auto;
  padding: 0;
}

.title {
  padding: 120px 35px 80px;
  margin: 0;
  max-width: 775px;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.cardsContainer {
  padding: 0 35px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(268px, 443px));
  gap: 107px 20px;
}

@media (max-width: 900px) {
  .cardsContainer {
    padding: 0 110px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 10px;
  }
  .title {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (max-width: 700px) {
  .cardsContainer {
    padding: 0 20px 0;
  }
  .title {
    padding-left: 20px;
  }
}

@media (max-width: 430px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .cardsContainer {
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: 1fr;
    gap: 50px 0;
  }
  .title {
    padding: 0 15px 15px;
    font-size: 20px;
    line-height: 22px;
  }
}
