.header {
  background: #101010;
}

.headerContainer {
  max-width: 1400px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
  background: url(http://localhost:3000/static/media/bg-figure.0fd5c3eb700da4da0306.svg) no-repeat right -29em bottom -45em,
    #101010;
}

.headerTop {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c6a67d;
}

.logo {
  grid-area: "logo";
}

.linksContainer {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.listItem {
  margin-left: 35px;
  margin-right: 35px;
}

.link {
  text-decoration: none;
  color: #fff;
  transition: color 0.4s ease;
}

.link:hover {
  color: #c6a67d;
  cursor: pointer;
}

.selectedLink {
  color: #c6a67d;
}

.headerBottom {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 160px;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.heading {
  margin: 0;
  max-width: 623px;
  background: -webkit-linear-gradient(360deg, #9c6b1d 3.21%, #f7f67e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
}

.reminder {
  max-width: 575px;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}

.logosContainer {
  display: flex;
  gap: 20px;
}

.img {
  display: block;
}

@media (max-width: 1100px) {
  .headerBottom {
    gap: 60px;
    text-align: center;
  }
}

@media (max-width: 950px) {
  .header {
    background-position: right -24em bottom -30em;
  }

  .headerBottom {
    flex-direction: column;
    align-items: center;
  }
  .headingContainer {
    max-width: 500px;
    gap: 35px;
    margin: 0 auto;
  }
  .heading {
    padding-top: 32px;
    font-size: 70px;
    line-height: 70px;
  }
  .linksContainer {
    display: none;
  }
  .logosContainer {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
}

@media (max-width: 600px) {
  .header {
    background-position: right -5em top -20em;
  }
  .heading {
    font-size: 60px;
  }
}

@media (max-width: 470px) {
  .headerContainer {
    background: url(http://localhost:3000/static/media/bg-figure.0fd5c3eb700da4da0306.svg) no-repeat right -5em top -15em,
      #101010;
    background-size: 1000px 1000px;
  }
  .headerTop {
    border-bottom: none;
  }
  .heading {
    padding-top: 250px;
    font-size: 40px;
    line-height: 40px;
  }
  .reminder {
    font-size: 14px;
  }
  .headingContainer {
    gap: 20px;
    align-items: center;
    text-align: left;
  }
  .logosContainer {
    width: 100%;
  }
  .bonnet {
    align-self: flex-start;
  }
}
